<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp card course-card">
  <a href="#">
    <p><i class="devicon-html5-plain colored"></i></p>
    <p class="course-title">HTML 5</p>
  </a>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp card course-card">
  <a href="#">
    <p><i class="devicon-css3-plain colored"></i></p>
    <p class="course-title">CSS 3</p>
  </a>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp card course-card">
  <a href="#">
    <p><i class="devicon-javascript-plain colored"></i></p>
    <p class="course-title">JavaScript</p>
  </a>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp card course-card">
  <a href="#">
    <p><i class="devicon-react-original colored"></i></p>
    <p class="course-title">ReactJS</p>
  </a>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp card course-card">
  <a href="#">
    <p><i class="devicon-angularjs-plain colored"></i></p>
    <p class="course-title">Angular</p>
  </a>
</div>
<div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp card course-card">
  <a href="#">
    <p><i class="devicon-nodejs-plain colored"></i></p>
    <p class="course-title">NodeJS</p>
  </a>
</div>
