<footer id="footer">
  <p>
    <span>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </span>
    <span class="powered-by">
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </span>
  </p>
</footer>
