@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Noto Sans Bengali", "Roboto", sans-serif;
  background-color: #212121;
  background: url("img/bg.dark.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px; }
  body p {
    font-size: 16px; }

* a, a {
  color: #7cb342;
  text-decoration: none; }

/*
=headerFontSize
 */
h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

.main-wrapper {
  margin-top: 100px;
  position: relative; }

header {
  padding-right: 32px; }
  header #header-outer {
    position: fixed;
    height: 100%;
    width: 300px;
    text-align: right;
    padding-top: 16px; }
    header #header-outer #logo-wrap, header #header-outer #subtitle-wrap {
      margin: 0 0 8px 0; }
    header #header-outer #subtitle-wrap {
      color: #fafafa;
      margin-bottom: 16px; }
      header #header-outer #subtitle-wrap span {
        padding: 0 0 8px 16px;
        border-bottom: 2px dashed rgba(124, 179, 66, 0.3); }
    header #header-outer #header-inner #main-nav {
      margin-bottom: 16px; }
      header #header-outer #header-inner #main-nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        header #header-outer #header-inner #main-nav ul li {
          margin-bottom: 8px; }
          header #header-outer #header-inner #main-nav ul li:last-child {
            margin-bottom: 0; }
          header #header-outer #header-inner #main-nav ul li a {
            font-size: 1.2rem;
            padding-bottom: 4px;
            border-bottom: 1px dashed rgba(124, 179, 66, 0.2);
            padding-left: 16px; }

.main-container .card {
  padding: 16px;
  background: #fafafa; }

.main-container .mdl-grid.mdl-grid--nesting {
  margin: 0 -8px;
  margin-bottom: 16px; }

.main-container .course-card {
  height: 200px; }
  .main-container .course-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .main-container .course-card a p {
      margin: 0; }
      .main-container .course-card a p i {
        font-size: 7rem; }
    .main-container .course-card a p.course-title {
      font-weight: 500;
      margin-top: 8px;
      font-size: 1.4rem;
      color: #212121; }

#footer p {
  margin: 0;
  position: relative; }
  #footer p .powered-by {
    position: absolute;
    right: 0; }
