.article.article-blog {
  .article-header {
    h1 {
      margin: 0;
      padding: 0;
      margin-bottom: 8px;
      padding-bottom: 8px;
      font-size: 1.6rem;
      border-bottom: 1px solid rgba($primary-color-highlight, 0.2);
    }
  }
  .article-meta {
    font-size: 1rem;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba($primary-color-highlight, 0.2);
    .material-icons {
      font-size: 1.4rem;
      color: rgba($primary-color-dark, 0.5);
      margin-right: 4px;
    }
  }

  @import "_code-highlight";
}
