* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font-bn, $primary-font-en, sans-serif;
  font-size: 16px;
  p {
    font-size: 16px;
  }
}

* a, a {
  color: $primary-color-highlight;
  text-decoration: none;
}

/*
=headerFontSize
 */

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem }
h4 { font-size: 1.4rem }
h5 { font-size: 1.2rem }
h6 { font-size: 1rem; }

.mdl-layout--fixed-drawer {
  min-height: 100vh;
  background-color: $primary-color-dark;
  background: url('img/bg.dark.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
