@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
$primary-font-bn: 'Noto Sans Bengali';
$primary-font-en: 'Roboto';
$mono-font: 'Fira Mono', monospace;
